<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="~{layout::head}">

</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Country</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,index:${product}">
        <td th:text="${index.index}"></td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.date}"></td>
        <td th:text="${product.country}"></td>
        <td ><a th:href="@{/edit(id=${product.id})}" >Edit</a></td>
        <td ><a th:href="@{/delete(id=${product.id})}">Delete</a></td>
        <td ><a th:href="@{/detail(id=${product.id})}">Detail</a></td>

    </tr>
    </tbody>
</table>
<h2 style="color:green "class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</h2>
</body>
</html>